<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= patient.image %>
  </p>

  <p>
    <strong>National:</strong>
    <%= patient.national_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

</div>
